<div class="card card-shadow">
  <img
    src="https://images.pexels.com/photos/16143559/pexels-photo-16143559/free-photo-of-landscape-of-rocky-snowcapped-mountains.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-card-img">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center m-lg-3">Featured</small>
    <small class="bg-light text-success text-center m-lg-3">Views - 10,353</small>
    <h5 class="mt-1">HOW TO START A BLOG</h5>
    <p>The city holds my heart
      Within walls of glass and steel
      Can't you see I just can't go?
      These walls are all I know
      The city holds my heart
      Like a shell
      I cannot feel surrounds
      I want you to go
      I'm scared to tell you so
    </p>
    <small class="bg-light text-success text-center m-lg-3">LAST UPDATED - Fucking Never. Why'd you care?</small>
  </div>
</div>
